<div class="jumbotron">
  <div class="container">
    <h1>Welcome to Bitsy</h1>
    <p>Your home for the itsy bitsy, teeny weeny, itty bitty, small, minuscule, tiny things in life. </p>
  </div>
</div>

</div>
  <%= render partial: "shared/show_products", locals:
                                                {
                                                  sort_by: @products,
                                                  label: ""
                                                } %>
</div>
