<div class="jumbotron">
  <div class="page-header">
    <div class="tux-mascot">
      <%= image_tag("penguin.png", size: "100x100", alt: "Tux mascot") %>
    </div>
    <h1>Welcome to Tux. <small>A place to buy all the things.</small></h1>
  </div>
</div>

<h3>This will be where the top ten products are shown</h3>
