<div class="jumbotron">
  <div class="page-header">
    <div class="tux-mascot">
      <%= image_tag("penguin.png", size: "100x100", alt: "Tux mascot") %>
    </div>
    <h1>Welcome to Tux. <small>A place to buy all the things.</small></h1>
  </div>
</div>

<div class="page-header">
  <h2>Top rated products:</h2>
</div>

<%= render 'shared/products_list', { products: @top_products } %>
