<table>
  <tr>
    <th>Item Name</th>
    <th>Quantity Ordered</th>
    <th>Cost</th>
  </tr>
  <% @order.order_items.each do |item| %>
    <tr>
      <td><%= item.product.name %></td>
      <td><%= item.quantity_ordered %></td>
      <!-- this should use Lindsey's display_dollars helper once it exists! -->
      <td><%= (item.quantity_ordered * item.product.price) / 100.0 %></td>
    </tr>
  <% end %>
</table>
