<h2>SHIPPING INFO</h2>

<ul>
  <li>Provider: <%= @order.shipping_type %></li>
  <li>Price: <%= display_dollars(@order.shipping_price) %>
  <li>Estimated Arrival: <%= @order.shipping_estimate || "N/A" %> </li>
</ul>
