<h1>CART</h1>

<% if flash[:error] %>
  <h2 class="alert alert-warning"><%= flash[:error] %></h2>
<% end %>

<% if @order.order_items %>
  <%= render "display_order_items" %>
  <%= link_to "Checkout!", checkout_path, class: "btn btn-primary" %>
<% else %>
  <h3 class="alert alert-info">You don't have any items in your cart.</h3>
<% end %>
