<div class="row">
  <div class="text-center">
    <h4>Your cart is empty.</h4><br>
    <%= image_tag "cart.png" %>
  </div>
</div>
<p class="text-center">Please <%= link_to "go back", root_path %> and add some items to your cart.</p>
