<div class="row no-jumbo form-header">
  <div class = "col-md-6">
    <h1> Order Fulfillment </h1>
    </div>
  </div>

<div class="row">
  <div class="col-md-6">
  <%= @all_items.each do |item| %>
    <%= item.order_id %>
    <%= item.product_id %>
    <%= item.total_price %>
  <% end %>
  </div>
</div>
