<h1><center>SHOPPING CART</h1>

<div class="navbar navbar-defaut" role="navigation">
  <div class="navbar-header">
    <ul class="nav navbar-nav">
      <li><%= link_to("CONTINUE SHOPPING", products_path, class: "btn btn-primary") %></li>
      <li><%= link_to("CHECK OUT NOW")%></li>
    </ul>
  </div>
</div>

<div class="shopping-cart">
  <%= render "shopping_cart" %>
</div>
