/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */

 @import "bootstrap-sprockets";
 @import "bootstrap";
 @import url(http://fonts.googleapis.com/css?family=Cherry+Swash:400,700);

 .navbar-brand {
  font-family: 'Cherry Swash', cursive;
  font-size: 1.8em;
 }

 .navbar-right {
  margin-right: 25px;
 }

 .cart {
  font-size: 1.4em;
 }

.container {
  margin-top: 10%;
}

.jumbotron {
  margin-top: 55px;
}

.no-jumbo {
  margin-top: 55px;
}

footer {
  font-size: 0.8em;
  text-align: center;
  margin: 20px 0;
}

.review_rating {
  font-weight: bold;
}

.review_time {
  font-style: italic;
}

.jumbotron {
  width: 100%;
  background: url(symphony.png) repeat;
  border-bottom: 3px solid #B4B4B4;
}

.jumbotron h1 {
  font-family: 'Cherry Swash', cursive;
  color: #FF5454;
  font-weight: bold;
  text-shadow: 2px 2px 2px #858585;
}

.form-header h1, h2, h3 {
  font-family: 'Cherry Swash', cursive;
}
