<div class="page-header">
  <h1>Search by Category</h1>
</div>

<div class="row">
  <% @categories.each do |category| %>
    <%= link_to category.name, category_path(category), class: "btn btn-default col-md-4 no-border-buttons" %>
  <% end %>
</div>
