<h1>All <%= @category.name.titlecase %> Products</h1>

<%# TODO: uncomment(/fix?) this when merge with Lindey's ProductController feature branch. %>
<%# render "products_list", { products: @products }%>

<!-- TODO: this is a holdover until above TODO comment is addressed -->
<ul>
  <% @products.each do |product| %>
    <li><%= product.name %></li>
  <% end %>
</ul>
