<h1>All Products</h1>

<% @products.each do |product| %>
  <div>
    <ul>
      <li><%= product.name %></li>
      <li><%= image_tag "#{product.photo_url}" %></li>
      <li><%= display_dollars(product.price) %></li>
    </ul>
  </div>
<% end %>
