<div class="review_content">
  <p class="review_rating">
    <% if review.rating == 1 %>
      <span class="glyphicon glyphicon-star"></span>
      <span class="glyphicon glyphicon-star-empty"></span>
      <span class="glyphicon glyphicon-star-empty"></span>
      <span class="glyphicon glyphicon-star-empty"></span>
      <span class="glyphicon glyphicon-star-empty"></span>
    <% elsif review.rating == 2 %>
      <span class="glyphicon glyphicon-star"></span>
      <span class="glyphicon glyphicon-star"></span>
      <span class="glyphicon glyphicon-star-empty"></span>
      <span class="glyphicon glyphicon-star-empty"></span>
      <span class="glyphicon glyphicon-star-empty"></span>
    <% elsif review.rating == 3 %>
      <span class="glyphicon glyphicon-star"></span>
      <span class="glyphicon glyphicon-star"></span>
      <span class="glyphicon glyphicon-star"></span>
      <span class="glyphicon glyphicon-star-empty"></span>
      <span class="glyphicon glyphicon-star-empty"></span>
    <% elsif review.rating == 4 %>
      <span class="glyphicon glyphicon-star"></span>
      <span class="glyphicon glyphicon-star"></span>
      <span class="glyphicon glyphicon-star"></span>
      <span class="glyphicon glyphicon-star"></span>
      <span class="glyphicon glyphicon-star-empty"></span>
    <% else %>
      <span class="glyphicon glyphicon-star"></span>
      <span class="glyphicon glyphicon-star"></span>
      <span class="glyphicon glyphicon-star"></span>
      <span class="glyphicon glyphicon-star"></span>
      <span class="glyphicon glyphicon-star"></span>
    <% end %>
  </p>
  <p class="review_body"><%= review.body %></p>
  <p class="review_time"><%= time_ago_in_words(review.created_at) %> ago</p>
</div>
