<div class="review clearfix">
  <div class="review_content">
    <p class="review_body"><%= review.body %></p>
    <p class="review_time"><%= time_ago_in_words(review.created_at) %> Ago</p>
  </div>
  <p><%= link_to 'Delete', [review.product, review],
                    method: :delete,
                    class: "button",
                    data: { confirm: 'Are you sure?' } %>
  </p>
</div>